<header class="header">
    <div class="right">
        <button id="sidebar-toggle" class="button">
            <i class='bx bx-menu'></i>
        </button>
    </div>
    <div class="left">
            <button onclick="history.back()" class="button">
                <i class='bx bx-left-arrow-alt'></i>
            </button>
        <h1 class="page-title"><%= title %></h1>
    </div>
</header>