<header class="header">
    <div class="right">
        <button id="sidebar-toggle" class="button">
            <i class='bx bx-menu'></i>
        </button>
    </div>
    <div class="left">
            <% if (typeof previusPage !== "undefined") { %>
                <a href="<%= previusPage %>" class="button">
                    <i class='bx bx-left-arrow-alt'></i>
                </a>
            <% } %>
        <h1 class="page-title"><%= title %></h1>
    </div>
</header>